{% extends 'main.html' %}

{% block content %}

<h1> Bienvenue <h1>

    <a href="{% url 'center-interest' %}" class="">
        <h1>Centre d'Interet</h1>
    </a>

    <a href="{% url 'news-file' %}" class="">
        <h1>Actualité</h1>
    </a>

    <a href="{% url 'buisness-space' %}?categorie=WorkCommunity" class="">
        <h1>Espace Buisness</h1>
    </a>

    <a href="{% url 'census' %}" class="">
        <h1>Faire un Recensement</h1>
    </a>

    <a href="{% url 'login' %}" class="">
        <h1>Faire une Inscription</h1>
    </a>

    <a href="{% url 'community' %}" class="">
        <h1>Listes des Communautés</h1>
    </a>

{% endblock %}