{% extends 'main.html' %}

{% block content %}


{% if page == 'liste' %}
<div class="grid-container">
    {% for community in listeC %}
        <div class="post">
                <h4>titre : {{ community.name }}</h4>
        </div>
    {% endfor %}
    <a href="{% url 'create-community' %}"> créer une nouvelle communauté.</a>
</div>

{% else %}

<div>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" >Créer</button>
    </form>

    <a href="{% url 'community' %}">voir la liste des Communautés.</a>
</div>
{% endif %}

{% endblock content %}