{% extends 'main.html' %}

{% block content %}


<div class="grid-container">
    {% for publication in publications %}
        <div class="post">
            <h4>titre : {{ publication.objet }}</h4>
            <h4>publication : {{ publication.publication }}</h4>
            <h4>titre : {{ publication.acteurID }}</h4>
            <h4>titre : {{ publication.communityID }}</h4>
        </div>
    {% endfor %}
    <a href="{% url 'posts' %}"> faire une nouvelle publication.</a>
</div>

{% comment %} {% else %} {% endcomment %}

{% if page == 'page_post' %}
<p> fait moi voir tes merveilles </p>
<div>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" >Créer</button>
    </form>
</div>
{% endif %}

{% endblock content %}