{% extends 'main.html' %}

{% block content %}

{% if page == 'Health' %}
<div class="grid-container">
    {% for bulletin in bulletins %}
        <div class="post">
            <h4>titre : {{ bulletin.acteurID }}</h4>
            <h4>titre : {{ bulletin.disease_name }}</h4>
            <h4>titre : {{ bulletin.temperature }}</h4>
            <h4>titre : {{ bulletin.date_recorder }}</h4>
        </div>
    {% endfor %}
</div>

{% else %}

<div>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" >Créer</button>
    </form>
</div>
{% endif %}

{% endblock content %}