{% extends 'main.html' %}

{% block content %}

<h1> voyez ici tout les informations sur le village. <h1>

    <h2>info</h2>
    <div class="grid-container">
        {% for publication in publications %}
            <div class="post">
                    <h4>titre : {{ publication.objet }}</h4>
                    <h4>PUBLICATION : {{ publication.publication }}</h4>
                    <h4>{{ publication.datetime }}</h4>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}