{% load static %}
<header class="header header--loggedIn">
    <div class="container">

        <a href="{% url 'home' %}" class="header__logo">
            {% comment %} <img src="{% static 'images/logo.svg' %}" /> {% endcomment %}
            <h1>AllakroCommunity</h1>
        </a>

        <a href="{% url 'projects' %}" class="header__logo">
            {% comment %} <img src="{% static 'images/logo.svg' %}" /> {% endcomment %}
            <h1>Projet</h1>
        </a>

        <a href="{% url 'community' %}?categorie=HealthCenter" class="header__logo">
            {% comment %} <img src="{% static 'images/logo.svg' %}" /> {% endcomment %}
            <h1>Pharmacie et centre de santé</h1>
        </a>

        <a href="{% url 'health' %}" class="header__logo">
            {% comment %} <img src="{% static 'images/logo.svg' %}" /> {% endcomment %}
            <h1>Espace Santé</h1>
        </a>

        <a href="{% url 'logout' %}" class="header__logo">
            {% comment %} <img src="{% static 'images/logo.svg' %}" /> {% endcomment %}
            <h1>se deconnecter</h1>
        </a>
        
    </div>
</header>

