{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Espace sante</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Espace sante</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Team Start -->
    <div class="container ">
        <h2 class="text-center">centre de sante</h2>
        <div class="card mt-5" >
            <div class="row g-0">
              <div class="col-md-7">
                <img src="{% static 'exchange/img/hoShutterstock_10361139d.jpg' %}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-5">
                <div class="card-body text-center">
                  <h5 class="card-title">polyclinique des 2 plateaux</h5>
                  <p class="card-text"><samp><i class="ok fa  fa-phone highlight rightpadding_5" aria-hidden="true"></i></samp> 27 22 41 39 90</p>
                  <p class="card-text mt-5"><small class="text-body-">Ophtamologie , Néphrologie <br> Rhumatologie, neurologie <br> neurochirurgie.</small></p>
                  
                </div>
              </div>
            </div>
          </div>
        
             <div class="container">
                <h2 class="mt-5 text-center">maladie fréquente et symptomes</h2>
                <table class=" table table table-striped table-bordered mt-4">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>Maladie</th>
                            <th>symptomes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Paludisme</td>
                            <td> fatigue, chair de poule, fièvre, frissons,</td>
                        
                         </tr>
                        <tr>
                            <td>choléra</td>
                            <td> des nausées,des vomissements ,des crampes dans les jambes, la diarrhée aqueuse</td>
                            
                        </tr>
                        <tr>
                            <td>la fièvre typhoïde</td>
                            <td>céphalées,douleurs abdominales, constipation ou diarrhée</td>
                            
                        </tr>
                        <tr>
                            <td> la dysenterie</td>
                            <td>sang dans les selles, vomissements, diarrhée, flatulences, incapacité à aller à la selle, indigestion ou nausées</td>
                            
                        </tr>
                    </tbody>
                  </table>
    
                </div>
                <div class="container">
                    <h2 class="mt-5 text-center">Epidémie et symptomes</h2>
                    <table class=" table table table-striped table-bordered mt-4">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>Epidémie</th>
                                <th>symptomes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>COVID-19</td>
                                <td>écoulement nasal, éternuement, température égale ou supérieure à 38 °C</td>
                            </p> 
                             </tr>
                             
                        </tbody>
                        
                    </table>
                </div>
                <h4 class="mt-5">Pharmacie</h4>
                <div class="card mt-3" style="width: 40rem;">
                    
                    <img src="{% static 'exchange/img/grde-phcie-2-plateaux.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body mt-4">
                      <h5 class="card-title mb-3">PHARMACIE 2 PLATEAUX AGBAN</h5>
                      <p><i class="ok fa fa-map-marker highlight rightpadding_5" aria-hidden="true"></i> 9X8V+F5X, Abidjan - II-Plateaux entre nouveau marché et hôpital des impôts/Sortie nord du camp de la gendarmerie Agban. </p>
                      <p class="card-text"> <i class="ok fa fa-phone highlight rightpadding_5" aria-hidden="true"></i>  27 22 41 39 90  .</p>
                    
                      <h6>Sécurité, hygiène et environnement / Pharmacies</h6>
                    </div>
                  </div>
        </div>
        
       
        <!-- Team End -->

{% endblock %}