{% extends 'base_admin.html' %}
{% load static %}


{% block content %}

    <!-- Sale & Revenue Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <a href="{% url 'project-form' %}" class="text">Nouveau</a>
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Liste des Consultations</h6>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="bg-dark text-white">
                            <th scope="col">Nom du Centre</th>
                            <th scope="col">Emplacement</th>
                            <th scope="col">description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for center in centers %}
                        <tr>
                            <td>{{center.center_name}}</td>
                            <td>{{center.place}}</td>
                            <td>{{center.description}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Sale & Revenue End -->

    
{% endblock %}
