{% extends 'base_admin.html' %}
{% load static %}


{% block content %}

{% if messages %}
    <ul class="text-danger">
        {% for message in messages %}
            <li{% if message.tags %} class="text-danger"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded p-4">
                <h6 class="mb-4">Nouveau Centre</h6>
                <form class="form" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="Nom" class="form-label">Institut</label>
                        <input type="text" name="institut" class="form-control" id="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="Nom" class="form-label">Nom du Centre</label>
                        <input type="text" name="center_name" class="form-control" id="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="stade" class="form-label">Emplacement</label>
                        <input type="text" name="place" class="form-control" id="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="Description" class="form-label">Description du Centre</label>
                        <textarea type="text" name="description" class="form-control" id="name"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}