{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Page buisness d'Allakro</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item  text-primary active" aria-current="page">Home</li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    {% if user.is_authenticated %}<li class="breadcrumb-item"><a class="text-white" href="{% url 'recensement-validation' %}">Admin</a></li>{% endif %}
                    <li class="breadcrumb-item" aria-current="page"><a class="text-white" href="{% url 'prestation-form' %}">Services</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Causes Start -->
    <div class="container-xxl bg-light my-5 py-5">
        <div class="container py-5">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">News</div>
                {% if user.is_authenticated %}
                <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Faire une Publication</div>
                {% endif %}
                <h1 class="display-6 mb-5">Services au Village</h1>
            </div>


            <div class="row g-4 justify-content-center">


                {% for prestation in prestations|dictsortreversed:"pub_date" %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                                <small>{{prestation.services}}</small>
                            </div>
                            <h5 class="mb-3">{{prestation.fullname}}</h5>
                            <p>{{prestation.contact}}</p>
                            <p>{{prestation.specificity}}s</p>
                            
                        </div>
                        <div class="position-relative mt-auto">
                            {% if prestation.photo %}
                                <img class="img-fluid" src="{{ prestation.photo.url }}" alt="{{ photo.title }}" >
                            {% endif %}
                            {% comment %} <img class="img-fluid" src="{% static 'img/courses-3.jpg' %}" alt=""> {% endcomment %}
                            <div class="causes-overlay">
                                
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                
            </div>
        </div>
    </div>
    <!-- Causes End -->

{% endblock %}