{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">
                news, Naissance, Demenagement <br> Restez informer de tout sur Allakro
            </h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Actualité</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Causes Start -->
    <div class="container-xxl bg-light my-5 py-5">
        <div class="container py-5">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">News</div>
                {% if user.is_authenticated %}
                <a class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3" href="{% url 'news-file-form' %}">Faire Une Publication</a>
                {% endif %}
                <h1 class="display-6 mb-5">Tous les news du Village</h1>
            </div>


            <div class="row g-4 justify-content-center">
                {% for publication in publications|dictsortreversed:"event_date" %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                                <small>Evènement</small>
                            </div>
                            <h5 class="mb-3">{{publication.type_recensement}}</h5>
                            {% if publication.type_recensement == 'naissance' %}
                            <p>
                                {{publication.father_fullname}} et {{publication.mother_fullname}} ont le plaisir de vous annoncer la venue 
                                de leur nouveau BEBE de sexe {{publication.sexe}} qui a eu lieu {{publication.event_space}}.
                            </p>
                            {% elif publication.type_recensement == 'deces' %}
                            <p>
                                {{publication.father_fullname}} et {{publication.mother_fullname}} ont la Tristesse de vous annoncer le décès de
                                {{publication.fullname}} qui a eu lieu {{publication.event_space}}.
                            </p>
                            {% elif publication.type_recensement == 'amenagement' %}
                            <p>
                                {{publication.fullname}} tient à vous annoncer qu'il amenage à Allakro.
                                Il habiteras précisement {{publication.event_space}}.
                            </p>
                            {% elif publication.type_recensement == 'demenagement'%}
                            <p>
                                {{publication.fullname}} tient à vous annoncer qu'il quitte Allakro
                                pour {{publication.event_space}}.
                            </p>
                        {% endif %}
                        </div>

                        {% comment %} <div class="position-relative mt-auto">
                            <img class="img-fluid" src="{% static 'img/courses-1.jpg' %}" alt="">
                            <div class="causes-overlay">
                                <a class="btn btn-outline-primary" href="">
                                    Read More
                                    <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div> {% endcomment %}

                    </div>
                </div>
                {% endfor %}

                {% for chef_info in chef_infos|dictsortreversed:"datetime" %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                                <small>Chefferie</small>
                            </div>
                            <h5 class="mb-3">{{chef_info.objet}}</h5>
                            <p>{{chef_info.publication}}s</p>
                        </div>
                    </div>
                </div>
                {% endfor %}


                {% comment %} {% for prestation in prestations|dictsortreversed:"pub_date" %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                                <small>{{prestation.services}}</small>
                            </div>
                            <h5 class="mb-3">{{prestation.fullname}}</h5>
                            <p>{{prestation.contact}}</p>
                            <p>{{prestation.specificity}}s</p>
                            
                        </div>
                        <div class="position-relative mt-auto">
                            {% if prestation.photo %}
                                <img class="img-fluid" src="{{ prestation.photo.url }}" alt="{{ photo.title }}" style="max-width: 250px; height: auto;">
                            {% endif %}
                            <div class="causes-overlay">
                                
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %} {% endcomment %}

                
            </div>
        </div>
    </div>
    <!-- Causes End -->

{% endblock %}