{% extends 'base.html' %}
{% load static %}


{% block content %}
{% comment %} {% load auth %} {% endcomment %}

    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Service Communautaire</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'prestation-rom' %}">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Admin</li>
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'prestation-form' %}">Service</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">

        <div class="container">

            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Administration</div>
                <h1 class="display-6 mb-5">Les recensements et demande en attents sont affichés ici</h1>
            </div>

            <div class="row g-4 justify-content-center">
                {% for request in cencus_request|dictsortreversed:"event_date" %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-white h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="img/icon-1.png" alt="">
                        <h4 class="mb-3">{{ request.type_recensement }}</h4>
                        {% if request.type_recensement == 'naissance' %}
                        <h6>{{ request.fullname }}</h6><p class="small">Nom</p>
                        <h6>{{ request.father_fullname }}</h6><p class="small">Père</p>
                        <h6>{{ request.mother_fullname }}</h6><p class="small">Mère</p>
                        <h6>{{ request.event_space }}</h6><p class="small">Lieu de naissance</p>
                        {% elif request.type_recensement == 'deces'%}
                        <h6>{{ request.fullname }}</h6><p class="small">defunt</p>
                        <h6>{{ request.event_space }}</h6><p class="small">Lieu de décès</p>
                        {% elif request.type_recensement == 'amenagement'%}
                        <h6>{{ request.fullname }}</h6><p class="small">Nom</p>
                        <h6>{{ request.event_space }}</h6><p class="small">Nouvel domicile</p>
                        {% elif request.type_recensement == 'demenagement'%}
                        <h6>{{ request.fullname }}</h6><p class="small">Nom</p>
                        <h6>{{ request.event_space }}</h6><p class="small">Provenance</p>
                        {% endif %}
                        {% comment %} {% if user.is_authenticated %} {% endcomment %}
                        <a class="btn btn-outline-primary px-3" href="{% url 'update-validation' request.id %}">
                            confirmer
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                        <a class="btn btn-outline-warning px-3" href="{% url 'update-denied' request.id %}">
                            supprimer
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                        {% comment %} {% endif %}: {% endcomment %}
                    </div>
                </div>
                {% endfor %}

                {% for request in prestation_request|dictsortreversed:"pub_date" %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-white  h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="{{ request.profile_photo.url }}" alt="">
                        <h4 class="mb-3">Prestataire de Servive</h4>
                        <h6>{{ request.fullname }}</h6><p class="small">nom et prenom</p> 
                        <h6>{{ request.services }}</h6><p class="small">services</p> 
                        <h6>{{ request.contact }}</h6><p class="small">contact</p> 
                        <h6>{{ request.work_space }}</h6><p class="small">Lieu de service</p> 
                        <h6>{{ request.payement_code }}</h6><p class="small">code de payement</p>
                        {% comment %} {% if user.is_authenticated %} {% endcomment %}
                        <a class="btn btn-outline-primary px-3" href="{% url 'update-validation' request.id %}?services=services">
                            confirmer
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                        <a class="btn btn-outline-warning px-3" href="{% url 'update-denied' request.id %}">
                            supprimer
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                        {% comment %} {% endif %}: {% endcomment %}
                    </div>
                </div>
                {% endfor %}

                {% comment %} {% for request in prestation_request %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="{{ user.profile_photo.url }}" alt="">
                        <h4 class="mb-3">Prestataire de Service</h4>
                        
                        <div class="d-flex flex-column align-items-start">
                            <h6>Nom</h6>
                            <p class="small">{{ request.fullname }}</p>
                        </div>
                        
                        <div class="d-flex flex-column align-items-start">
                            <h6>services</h6>
                            <p>{{ request.services }}</p>
                        </div>
                        
                        <div class="d-flex flex-column align-items-start">
                            <h6>contact</h6>
                            <p>{{ request.contact }}</p>
                        </div>
                        
                        <div class="d-flex flex-column align-items-start">
                            <h6>work_space</h6>
                            <p>{{ request.work_space }}</p>
                        </div>
                        
                        <div class="d-flex flex-column align-items-start">
                            <h6>code de payement</h6>
                            <p>{{ request.payement_code }}</p>
                        </div>
                        
                        <div class="d-flex flex-column align-items-start">
                            <h6>description</h6>
                            <p>{{ request.specificity }}</p>
                        </div>
                        
                        <a class="btn btn-outline-primary px-3" href="">
                            confirmer
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %} {% endcomment %}

            </div>

        </div>
        
    </div>
    <!-- Service End -->
        
{% endblock content %}

{% comment %} <button id="startButton">Start Recording</button>

<script>
  const startButton = document.getElementById('startButton');

  startButton.addEventListener('click', function() {
      // Effectuez une requête AJAX
      const xhr = new XMLHttpRequest();
      xhr.open('GET', '/execute-python/', true);

      xhr.onreadystatechange = function() {
          if (xhr.readyState === 4 && xhr.status === 200) {
              // Traitement de la réponse JSON
              const response = JSON.parse(xhr.responseText);
              console.log(response.message);
              // Autres actions à effectuer après l'exécution de l'instruction Python
          }
      };

      xhr.send();
  });
  </script> {% endcomment %}