{% extends 'base_admin.html' %}
{% load static %}


{% block content %}

{% if messages %}
    <ul class="text-danger">
        {% for message in messages %}
            <li{% if message.tags %} class="text-danger"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded p-4">
                <h6 class="mb-4">Nouveau Projet</h6>
                <form class="form" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="Budget" class="form-label">Nom du medecin</label>
                        <input type="text" name="medecin" class="form-control" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="Nom" class="form-label">Nom du Patient</label>
                        <input type="text" name="patient_name" class="form-control" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="stade" class="form-label">Contante</label>
                        <input type="text" name="constante" class="form-control" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="Projet" class="form-label">Diagnostique</label>
                        <input type="text" name="diagnostique" class="form-control" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="Description" class="form-label">Prescription</label>
                        <textarea type="text" name="prescription" class="form-control" id="name"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}