{% extends 'base_admin.html' %}
{% load static %}


{% block content %}

    <!-- Recent Sales Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Liste des Consultations</h6>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="bg-dark text-white">
                            <th scope="col">Date</th>
                            <th scope="col">Patient</th>
                            <th scope="col">Medecin</th>
                            <th scope="col">constante</th>
                            <th scope="col">Prescription</th>
                            <th scope="col">Diagnostique</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01 Jan 2023</td>
                            <td>Dr Ali</td>
                            <td>Jhon Doe</td>
                            <td>37°</td>
                            <td>para</td>
                            <td><a class="btn btn-sm btn-primary" href="">supprimer</a></td>
                        </tr>
                        <tr>
                            <td>01 Jan 2023</td>
                            <td>Dr Ali</td>
                            <td>Jhon Doe</td>
                            <td>37°</td>
                            <td>para</td>
                            <td><a class="btn btn-sm btn-primary" href="">supprimer</a></td>
                        </tr>
                        <tr>
                            <td>01 Jan 2023</td>
                            <td>Dr Ali</td>
                            <td>Jhon Doe</td>
                            <td>37°</td>
                            <td>para</td>
                            <td><a class="btn btn-sm btn-primary" href="">supprimer</a></td>
                        </tr>
                        <tr>
                            <td>01 Jan 2023</td>
                            <td>Dr Ali</td>
                            <td>Jhon Doe</td>
                            <td>37°</td>
                            <td>para</td>
                            <td><a class="btn btn-sm btn-primary" href="">supprimer</a></td>
                        </tr>
                        <tr>
                            <td>01 Jan 2023</td>
                            <td>Dr Ali</td>
                            <td>Jhon Doe</td>
                            <td>37°</td>
                            <td>para</td>
                            <td><a class="btn btn-sm btn-primary" href="">supprimer</a></td>
                        </tr>
                        <tr>
                            <td>01 Jan 2023</td>
                            <td>Dr Ali</td>
                            <td>Jhon Doe</td>
                            <td>37°</td>
                            <td>para</td>
                            <td><a class="btn btn-sm btn-primary" href="">supprimer</a></td>
                        </tr>
                        <tr>
                            <td>01 Jan 2023</td>
                            <td>Dr Ali</td>
                            <td>Jhon Doe</td>
                            <td>37°</td>
                            <td>para</td>
                            <td><a class="btn btn-sm btn-primary" href="">supprimer</a></td>
                        </tr>
                        <tr>
                            <td>01 Jan 2023</td>
                            <td>Dr Ali</td>
                            <td>Jhon Doe</td>
                            <td>37°</td>
                            <td>para</td>
                            <td><a class="btn btn-sm btn-primary" href="">supprimer</a></td>
                        </tr>
                        <tr>
                            <td>01 Jan 2023</td>
                            <td>Dr Ali</td>
                            <td>Jhon Doe</td>
                            <td>37°</td>
                            <td>para</td>
                            <td><a class="btn btn-sm btn-primary" href="">supprimer</a></td>
                        </tr>
                        <tr>
                            <td>01 Jan 2023</td>
                            <td>Dr Ali</td>
                            <td>Jhon Doe</td>
                            <td>37°</td>
                            <td>para</td>
                            <td><a class="btn btn-sm btn-primary" href="">supprimer</a></td>
                        </tr>
                        <tr>
                            <td>01 Jan 2023</td>
                            <td>Dr Ali</td>
                            <td>Jhon Doe</td>
                            <td>37°</td>
                            <td>para</td>
                            <td><a class="btn btn-sm btn-primary" href="">supprimer</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Recent Sales End -->

{% endblock %}