{% extends 'base_admin.html' %}
{% load static %}


{% block content %}

    <!-- Recent Sales Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Liste des Consultations</h6>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="bg-dark text-white">
                            <th scope="col">Date</th>
                            <th scope="col">Patient</th>
                            <th scope="col">Docteur</th>
                            <th scope="col">constante</th>
                            <th scope="col">prescription</th>
                            <th scope="col">diagnostique</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in datas %}
                        <tr>
                            <td>{{data.date}}</td>
                            <td>{{data.patient_name}}</td>
                            <td>{{data.medecin}}</td>
                            <td>{{data.constante}}</td>
                            <td>{{data.prescription}}</td>
                            <td>{{data.diagnostique}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Recent Sales End -->

{% endblock %}