{% extends 'base_admin.html' %}
{% load static %}


{% block content %}

    <!-- Sale & Revenue Start -->
    <div class="container-fluid pt-4 px-4">
        <a href="{% url 'project-form' %}" class="text">Nouveau Projet</a>
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-users fa-3x text-primary"></i>
                    <div class="ms-3">
                        <h6 class="mb-2">Nom du Projet</h6>
                        <h6 class="mb-2">Description</h6>
                        <h6 class="mb-2">Budget</h6>
                        <h6 class="mb-2">Niveau</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-graduation-cap fa-3x text-primary"></i>
                    <div class="ms-3">
                        <h6 class="mb-2">Nom du Projet</h6>
                        <h6 class="mb-2">Description</h6>
                        <h6 class="mb-2">Budget</h6>
                        <h6 class="mb-2">Niveau</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-project-diagram fa-3x text-primary"></i>
                    <div class="ms-3">
                        <h6 class="mb-2">Nom du Projet</h6>
                        <h6 class="mb-2">Description</h6>
                        <h6 class="mb-2">Budget</h6>
                        <h6 class="mb-2">Niveau</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-hospital fa-3x text-primary"></i>
                    <div class="ms-3">
                        <h6 class="mb-2">Nom du Projet</h6>
                        <h6 class="mb-2">Description</h6>
                        <h6 class="mb-2">Budget</h6>
                        <h6 class="mb-2">Niveau</h6>
                        {% comment %} <p class="mb-2">Total Femme</p>
                        <h6 class="mb-2">Nom du Projet</h6>
                        <h6 class="mb-2">Description</h6>
                        <h6 class="mb-2">Budget</h6>
                        <h6 class="mb-2">Niveau</h6> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} deuxiem {% endcomment %}
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-briefcase fa-3x text-primary"></i>
                    <div class="ms-3">
                        <h6 class="mb-2">Nom du Projet</h6>
                        <h6 class="mb-2">Description</h6>
                        <h6 class="mb-2">Budget</h6>
                        <h6 class="mb-2">Niveau</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-hammer fa-3x text-primary"></i>
                    <div class="ms-3">
                        <h6 class="mb-2">Nom du Projet</h6>
                        <h6 class="mb-2">Description</h6>
                        <h6 class="mb-2">Budget</h6>
                        <h6 class="mb-2">Niveau</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-newspaper fa-3x text-primary"></i>
                    <div class="ms-3">
                        <h6 class="mb-2">Nom du Projet</h6>
                        <h6 class="mb-2">Description</h6>
                        <h6 class="mb-2">Budget</h6>
                        <h6 class="mb-2">Niveau</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-poll fa-3x text-primary"></i>
                    <div class="ms-3">
                        <h6 class="mb-2">Nom du Projet</h6>
                        <h6 class="mb-2">Description</h6>
                        <h6 class="mb-2">Budget</h6>
                        <h6 class="mb-2">Niveau</h6>
                        {% comment %} <p class="mb-2">Total Femme</p>
                        <h6 class="mb-2">Nom du Projet</h6>
                        <h6 class="mb-2">Description</h6>
                        <h6 class="mb-2">Budget</h6>
                        <h6 class="mb-2">Niveau</h6> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} troisième {% endcomment %}
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-briefcase fa-3x text-primary"></i>
                    <div class="ms-3">
                        <h6 class="mb-2">Nom du Projet</h6>
                        <h6 class="mb-2">Description</h6>
                        <h6 class="mb-2">Budget</h6>
                        <h6 class="mb-2">Niveau</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-hammer fa-3x text-primary"></i>
                    <div class="ms-3">
                        <h6 class="mb-2">Nom du Projet</h6>
                        <h6 class="mb-2">Description</h6>
                        <h6 class="mb-2">Budget</h6>
                        <h6 class="mb-2">Niveau</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-newspaper fa-3x text-primary"></i>
                    <div class="ms-3">
                        <h6 class="mb-2">Nom du Projet</h6>
                        <h6 class="mb-2">Description</h6>
                        <h6 class="mb-2">Budget</h6>
                        <h6 class="mb-2">Niveau</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-poll fa-3x text-primary"></i>
                    <div class="ms-3">
                        <h6 class="mb-2">Nom du Projet</h6>
                        <h6 class="mb-2">Description</h6>
                        <h6 class="mb-2">Budget</h6>
                        <h6 class="mb-2">Niveau</h6>
                        {% comment %} <p class="mb-2">Total Femme</p>
                        <h6 class="mb-2">Nom du Projet</h6>
                        <h6 class="mb-2">Description</h6>
                        <h6 class="mb-2">Budget</h6>
                        <h6 class="mb-2">Niveau</h6> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-users fa-3x text-primary"></i>
                    <div class="ms-3">
                        <h6 class="mb-2">Habitants</h6>
                        <h6 class="mb-2">Nom du Projet</h6>
                        <h6 class="mb-2">Description</h6>
                        <h6 class="mb-2">Budget</h6>
                        <h6 class="mb-2">Niveau</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-graduation-cap fa-3x text-primary"></i>
                    <div class="ms-3">
                        <h6 class="mb-2">Nom du Projet</h6>
                        <h6 class="mb-2">Description</h6>
                        <h6 class="mb-2">Budget</h6>
                        <h6 class="mb-2">Niveau</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-project-diagram fa-3x text-primary"></i>
                    <div class="ms-3">
                        <h6 class="mb-2">Nom du Projet</h6>
                        <h6 class="mb-2">Description</h6>
                        <h6 class="mb-2">Budget</h6>
                        <h6 class="mb-2">Niveau</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-hospital fa-3x text-primary"></i>
                    <div class="ms-3">
                        <h6 class="mb-2">Nom du Projet</h6>
                        <h6 class="mb-2">Description</h6>
                        <h6 class="mb-2">Budget</h6>
                        <h6 class="mb-2">Niveau</h6>
                        {% comment %} <p class="mb-2">Total Femme</p>
                        <h6 class="mb-2">Nom du Projet</h6>
                        <h6 class="mb-2">Description</h6>
                        <h6 class="mb-2">Budget</h6>
                        <h6 class="mb-2">Niveau</h6> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sale & Revenue End -->

    
{% endblock %}
